<!doctype html>
<html>
    <head>
        <title>Ros Live Visualizer</title>
        <script type="text/javascript" src="/static/cloudflare.js"></script>
        <script src="/static/ajax.js"></script>
        <script type="text/javascript" src="/static/vis.js"></script>
        <link href="/static/visstyle.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="/static/styles.css">
    </head>

    <body>
        <h1 align="center">ROS LIVE VISUALIZER</h1>
        <div id="recording" align = "right" style="display:none"> <img SRC="/static/live.gif" style="width: 10vw; min-width: 33px;"></div>
        <div id="live_func" align = "center">
            <p></p>
            Roslaunch Command: <input type="text" id="command" name="command" value="roslaunch "><br>
            <p></p>
            <button id="LIVE" style="display:block" align="center">LIVE</button>
        </div>
        <p></p>
        <div class="column1" id="topicsLabel" style="display:none">
            <div class="column2">
                <h1 align = "center">VISUALIZER</h1>
                <div id="visualization" style="display:none"></div>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="column">
                <p id="legendText" style="display:none">Legends :</p>
                <div id="legend"></div>
                <p></p>
                <div>
                    <form id="form2" class="box_2" align="center" action="/" method="GET">
                        <button id="btnHome" style="display:none" onclick="homeFunction()" type="submit" class="btn btn-default">Home</button>
                    </form>
                </div>
            </div>
            <div class="column">
                <div>
                    <button id="pause" style="display:none" align="center">Pause Feed</button>
                </div>
                <div>
                    <button id="resume" style="display:none" align="center">Resume Feed</button>
                </div>
                <p id="selectTopics" style="display:none">Select Topics :  <input type="checkbox" checked=true id="selectall"><label for="checkTopic"> Select All</label></p>
                <div id="container" style="display:none"></div>
                <p></p>
                <div>
                    <button id="UpdateButton" style="display:none" align="center">Update Graph</button>
                </div>
            </div>
        </div>
        <p></p>

        <script type="text/javascript" src="/static/live_script.js"></script>

    </body>
</html>