<!DOCTYPE html>
<html>

<head>
    <title>Blackbox Visualizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <style>
        .w3-lobster {
            font-family: "Lobster", serif;
        }

        .w3-allerta {
            font-family: "Allerta Stencil", Sans-serif;
        }
    </style>
</head>


<body>
    <!-- <div class="w3-sidebar w3-bar-block w3-collapse w3-card" style="width:200px;" id="mySidebar">
        <button class="w3-bar-item w3-button w3-hide-large" onclick="w3_close()">Close &times;</button>
        
        
        <a href="http://127.0.0.1:5000" class="w3-bar-item w3-button">Home</a>
    </div> -->
    <ul class="w3-display-topright w3-ul w3-card-4" style="width:100%">
        <li>Alan Preciado Grijalva</li>
        <li>Ragith Ayyappan Kutty</li>
        <li>Devaiah Ulliyada Arun</li>
        <li>Shravanthi Arvind Patil</li>
        <li><a href="http://127.0.0.1:5000/">Home</a></li>
    </ul> 

    <script>
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
        }
    </script>


    <!-- <input class="w3-button w3-black" type="button" value="Input Button">
    <button class="w3-button w3-black">Button Button</button>
    <a href="http://127.0.0.1:5000/" class="w3-button w3-black">Home</a> -->
</body>
</html>